<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sprott Student Investment Fund | Performance</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/journal/bootstrap.min.css" rel="stylesheet">
    {% load staticfiles %}
    <link href="{% static 'dashboard/styles.css' %}" rel="stylesheet">

    <!-- Main Portfolio Chart -->
    <script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({'container': 'body'});
    });

    $(function () {
        var portfoliots = {
                chart:{backgroundColor:null},
                rangeSelector : {selected : 3},
                title : {text : ''},
                tooltip: {pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>${point.y:,.2f}</b><br/>'},
                yAxis: {gridLineDashStyle: 'dot'},
                xAxis: {
                    gridLineDashStyle: 'dot',
                    gridLineWidth: 1
                },
                series : []
            };

        $.getJSON('/portfoliojson', function (data) {
               portfoliots.series.push(
               {
                    name : 'Fund',
                    data : data,
                    zIndex: 100,
                });
                $.getJSON('/benchmarkjson', function (data) {
                    portfoliots.series.push(
                    {
                        name : 'Benchmark',
                        data : data,
                        visible: false
                    });
                    $.getJSON('/forecastjson', function (data) {
                        // outer level
                        portfoliots.series.push({
                            name: '95% Confidence Level Forecast',
                            data: data[1],
                            type: "arearange",
                            fillOpacity: 0.6,
                            tooltip: { valueDecimals: 2 },
                            color: '#66FF33',
                            visible: false,
                        });
                        // inner level
                        portfoliots.series.push({
                            name: '75% Confidence Level Forecast',
                            data: data[0],
                            type: "arearange",
                            fillOpacity: 0.6,
                            tooltip: { valueDecimals: 2 },
                            color: '#006600',
                            visible: false,
                        });

                        // Create the chart
                        $('#portfolio').highcharts('StockChart', portfoliots);
                    });
            });
        });

        // Benchmark comparison
        $('#benchmarkts').click(function(){
            a = $('#portfolio').highcharts().options;
            if(a.series[1].visible)
                a.series[1].visible = false;
            else
                a.series[1].visible = true;
            $('#portfolio').highcharts('StockChart', a);
        });

        // Forecasts comparison
        $('#forecastts').click(function(){
            a = $('#portfolio').highcharts().options;
            if(a.series[2].visible && a.series[3].visible){
                a.series[2].visible = false;
                a.series[3].visible = false;
            } else {
                a.series[2].visible = true;
                a.series[3].visible = true;
            }
            $('#portfolio').highcharts('StockChart', a);
        });
    });




    </script>

    <!-- Allocation Pie Chart -->
    <script type="text/javascript">
    $(function () {

        $.getJSON('/allocationjson', function (data) {
            // Create the chart
            $('#allocation').highcharts({
                chart:{backgroundColor:null,
                       type: 'pie',
                       options3d: {
                            enabled: true,
                            alpha: 45,
                            beta: 0
                       }},
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 45,
                        dataLabels: {
                            distance: 7,
                            style: { width:'50px' }
                        }
                }},
                title : {text : ''},
                tooltip: {pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'},
                series : [{name: 'Allocation', data : data}]
            });
        });

    });
    </script>

    <!-- RiskReward Chart -->
    <script type="text/javascript">
    $(function () {
            var request = {
                chart:{backgroundColor:null, type: 'line'},
                rangeSelector : {selected : 5},
                title : {text : ''},
                legend: {enabled: false},
                plotOptions: {
                    scatter: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                        },
                        tooltip: {
                            headerFormat: '<center>{point.key}</center><br/><table>',
                            pointFormat: '<tr><td>Volatility: </td><td style="text-align:right"><b>{point.x:.2f}%</b></td></tr><br/>'+
                                         '<tr><td>{series.name}: </td><td style="text-align:right"><b>{point.y}%</b></td></tr>',
                            footerFormat: '</table>',
                            valueDecimals: 2
                        }
                    }
                },
                tooltip: {
                    headerFormat:'<table>',
                    pointFormat: '<tr><td>Volatility: </td><td style="text-align:right"><b>{point.x:.2f}%</b></td></tr><br/>'+
                                 '<tr><td>{series.name}: </td><td style="text-align:right"><b>{point.y}%</b></td></tr>',
                    footerFormat: '</table>',
                    valueDecimals: 2
                },
                yAxis: {gridLineDashStyle: 'dot',
                        title: { text: 'Annualized Expected Return' }

                },
                xAxis: {
                    gridLineDashStyle: 'dot',
                    gridLineWidth: 1,
                    title: { text: 'Annualized Volatility' }
                },
                series : []
            };

        $.getJSON('/frontierjson', function (data) {
            request.series[0] = {name: 'Efficient Frontier', data: data};
            $.getJSON('/relativefrontjson', function(data){
                request.series[1] = {name: 'Return', data: data, type: 'scatter'};
                $('#riskreward').highcharts(request);
            });
        });
    });
    </script>

    <!-- Sparkline Charts -->
    <script type="text/javascript">
        $(function () {
            var spkrequest = {
                chart:{
                    margin:[0, 0, 0, 0],
                    backgroundColor:'transparent',
                    style: {overflow: 'visible'}
                },
                title:{text:''},
                exporting: {enabled: false},
                credits:{enabled:false},
                xAxis:{
                    labels:{enabled:false},
                    title: {text:null},
                    startOnTick: false,
                    endOnTick: false,
                    tickPositions: []
                },
                yAxis:{
                    maxPadding:0,
                    minPadding:0,
                    gridLineWidth: 0,
                    endOnTick: false,
                    startOnTick: false,
                    labels:{enabled:false},
                    title: {text: null},
                    tickPositions: []
                },
                legend:{enabled:false},
                tooltip:{
                    enabled:true,
                    formatter: function(){
                        return '<center>'+Highcharts.dateFormat('%A, %B %e, %Y', new Date(this.x))+'</center><br/>'+
                               'Price: $'+Math.round(this.y*100)/100;
                    },
                    positioner: function (w, h, point) {
                                    return { x: point.plotX - w / 2, y: point.plotY - h};
                                }
                },
                plotOptions:{
                    series:{
                        fillOpacity: 0.25,
                        lineWidth:1,
                        shadow:false,
                        states:{hover:{lineWidth:1}},
                        marker:{
                            radius:2,
                            states:{
                                hover:{
                                    radius:2
                                }
                            }
                        }
                    }
                },
                series: []
            };

            var assetlist = [{{ assetids|join:", "}}];
            $.each(assetlist, function(i,a){
                $.getJSON('/spkperformancejson?a='+a, function (data) {

                    // shitty area fix
                    var minimum = 1000000;
                    for(dp=0; dp < data.length; dp++){
                        if(data[dp].y < minimum)
                            minimum = data[dp].y;
                    }
                    spkrequest.yAxis.min = minimum-1;

                    spkrequest.series[0] = {type:'area', data: data};
                    $('#spk_'+a).highcharts(spkrequest);
                });
            });

    });
    </script>
</head>
<body>
    <div class="pattern"> </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="col-md-1 logo">
                <img src="{% static 'dashboard/logo.png' %}" />
            </div>
            <div class="col-md-4 col-md-offset-7 zeropad">
                <h5><a href="#" data-toggle="modal" data-target="#about">About</a></h5>
                <h5><a href="http://sprott.carleton.ca/thefund/">SSIF Home Page</a></h5>
            </div>
        </div>
    </nav>
    <div class="container">

        <div class="col-md-12 zeropad" style="margin-bottom: 25px;">
            <div class="panel panel-default">
                <div class="panel-heading deepblue">Fund Overview</div>
                <div class="panel-body">
                    <div class="col-md-12" style="margin-bottom: 25px; text-align:justify;">
                        <span class="deepblue"><b>The Sprott Student Investment Fund’s</b></span> equity portfolio takes a fundamental approach to investing with a
                        value orientation; seeking to maximize the value of its assets over the very long term. The primary
                        focus is on building a portfolio of wealth creating firms, with unique competitive advantages, strong
                        financial positions, and proven management teams. We strive to make these investments only in firms that
                        trade at discounts to their intrinsic value.
                    </div>
                    <h5 class="col-md-12 zeropad deepblue" style="margin: 0 0 15px 0; text-align:center;">
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="All statistics are annualized from daily data.  The SSIF Benchmark is calculated as 65% S&P 500 (US Equity) and 35% S&P TSX (CAN Equity)"></span>
                        Performance Statistics
                    </h5>
                    <div class="col-md-2 overview">Mean Return<br/> {{ avgRet }}%</div>
                    <div class="col-md-2 overview">Volatility<br/> {{ vola }}%</div>
                    <div class="col-md-2 overview">Sharpe Ratio<br/> {{ sharpe }}</div>
                    <div class="col-md-2 overview">Information Ratio<br/> {{ ir }}</div>
                    <div class="col-md-2 overview">Alpha<br/> {{ alpha }}%</div>
                    <div class="col-md-2 overview last">Benchmark Beta<br/> {{ beta }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 zeropad">
            <h3 class="deepblue"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Fund Performance</h3>
            <!-- <a data-toggle="modal" data-target="#performance">
                <span class="detail-label glyphicon glyphicon-question-sign" aria-hidden="true"> </span>
            </a> -->
            <span class="lightblue">From {{ portfolioStartDate }} to Present</span>
            <span class="detail-label">
                Toggle:
                <a href="#" id="benchmarkts">
                    <span class="glyphicon glyphicon-equalizer"></span> Benchmark
                </a> //
                <a href="#" id="forecastts">
                    <span class="glyphicon glyphicon-screenshot"></span> Forecast
                </a>
            </span>
            <div class="well">
                <div id="portfolio" style="height: 350px;"></div>
            </div>
        </div>
        <div class="col-md-6 zero-left-pad">
            <h3 class="deepblue"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Sector Allocation</h3>
            <a data-toggle="modal" data-target="#sector"><span class="detail-label glyphicon glyphicon-question-sign" aria-hidden="true"> </span></a>
            <span class="lightblue">As of {{ today }}</span>
            <div class="well">
                <div id="allocation" style="height: 300px;"></div>
            </div>
        </div>
        <div class="col-md-6 zero-right-pad">
            <h3 class="deepblue"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Risk/Return Frontier</h3>
            <a data-toggle="modal" data-target="#frontier"><span class="detail-label glyphicon glyphicon-question-sign" aria-hidden="true"> </span></a>
            <span class="lightblue">From {{ frontierStartDate }} to Present</span>
            <div class="well">
                <div id="riskreward" style="height: 300px;"></div>
            </div>
        </div>
        <div class="col-md-12 zeropad">
            <h3 class="deepblue"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Current Holdings</h3>
            <span class="lightblue">As of {{ today }}</span>
            <div class="well">
                <table class="table table-striped table-hover ">
                      <thead>
                        <tr class="deepblue">
                            <th>Ticker</th>
                            <th>Company</th>
                            <th>Sector</th>
                            <th>Country</th>
                            <th>Manager</th>
                            <th>1M Prices</th>
                            <th><center>Return</center></th>
                            <th><center>Yield</center></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for h in holdings %}
                            <tr>
                                <td class="col-md-1">{{h.ticker}}</td>
                                <td class="col-md-3">{{h.company}}</td>
                                <td class="col-md-2">{{h.sector}}</td>
                                <td class="col-md-1">{{h.country}}</td>
                                <td class="col-md-2">
                                    <a data-toggle="modal" data-target="#mgr" href="/managerinfo?a={{h.managerid}}" >
                                        {{h.manager}}
                                    </a></td>
                                <td class="col-md-1"><div id="spk_{{h.assetid}}" style="height:25px; width:110px;"></div></td>
                                <td class="col-md-1"><center>
                                    {% if h.totalreturn > 0 %}
                                        <span class="text-success">{{h.totalreturn}}%</span>
                                    {% elif h.totalreturn < 0 %}
                                        <span class="text-danger">{{h.totalreturn}}%</span>
                                    {% else %}
                                        {{h.totalreturn}}%
                                    {% endif %}
                                </center></td>
                                <td class="col-md-1"><center>{{h.yield}}%</center></td>
                            </tr>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- About Modal -->

    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="About">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title deepblue" id="aboutLabel">About SSIF</h4>
          </div>
          <div class="modal-body" style="text-align: justify;">
            This Tracker serves, for the Sprott Student Investment Fund, as a continuous portfolio monitoring tool delivering transparent information in a seamless and easy to read format.
            The role of the tracker is to provide our equity portfolio performance and characteristics to potential investors, students, team members and other interested individuals.
            It is created and maintained by Kevin Pei (Portfolio Analyst).
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Performance Modal -->

    <div class="modal fade" id="performance" tabindex="-1" role="dialog" aria-labelledby="FundPerformance">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
           <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title deepblue">Fund Performance</h4>
          </div>
          <div class="modal-body" style="text-align: justify;">
            This panel tracks SSIF's portfolio value as a combination of both its equity portfolio and cash.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Sector Modal -->

    <div class="modal fade" id="sector" tabindex="-1" role="dialog" aria-labelledby="sector">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
           <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title deepblue">Sector Allocation: A Quantitative Approach</h4>
          </div>
          <div class="modal-body" style="text-align: justify;">
            SSIF employs a top-down methodology in investing; it starts with the Macroeconomic outlook followed by sector outlook and lastly valuation of specific companies.
            Our methodology incorporates a mix of both quantiative and fundamental tools in guiding our decision to invest and allocate.  Indeed, SSIF sector allocation follows a rigorous
            mathematical framework in combining each sector manager's outlook with the current market-implied equilibrium.  The model used here is called the Black-Litterman Model, more precisely
            the Idzorek (2005) variation.  Detailed implementation can be found externally <a target="_blank" href="http://kpei.github.io/bl-sector-ssif/bl.html">here</a>.
              <br/><br/>
              <center><img height="480" width="672" src="{% static 'dashboard/sector.png' %}"/></center>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Frontier Modal -->

    <div class="modal fade" id="frontier" tabindex="-1" role="dialog" aria-labelledby="frontier">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
           <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title deepblue">Markowitz Frontier Evaluation</h4>
          </div>
          <div class="modal-body" style="text-align: justify;">
            The Markowitz Frontier is used to evaluate the performance of asset allocation over the time period.  Traditional theory states that
              the more risk an investor takes on, the more return he is expected to make in the long run.  The X-Axis represents the Annualized volatility of the portfolio (risk) while
              the Y-axis represents the annualized expected return of the portfolio (return).  The blue dotted line represents the optimal dollar combination
              of SSIF's current held assets such that it maximizes the expected return given a defined volatility.  Conversely, it minimizes the volatility given a defined expected return.  Optimal Allocation, or being on the frontier, is rarely achieved in practice and thus the distance
              between the SSIF dot and the frontier is an indicator of how well our wealth was divided among our holdings within the given time period.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Manager Modal -->

    <div class="modal fade" id="mgr" tabindex="-1" role="dialog" aria-labelledby="ManagerInfo">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>
    <script type="text/javascript">
    // Manager info reload
        $('#mgr').on('hide.bs.modal',
            function () {
                $('#mgr').removeData('bs.modal');
                $('#mgr .modal-content').html('');
            });
    </script>
</body>
</html>