.logo {
    padding: 6px 0 6px 0;
}

.navbar {
    border-bottom-width: 4px;
}

.pattern {
    background: #fff url('cubed.png') repeat;
    height: 10px;
}

.overview{
    text-align:center;
    border-right: #eeeeee 1px solid;
}
.last {
    border: 0;
}
h5{
    float:right;
    margin: 18px;
}

.panel-heading {
    color: #96C0E6 !important;
}

h3{
    margin: 0;
    color: #96C0E6;
}

a { color: #96C0E6; }
a:hover { color: #386898;}

.zeropad{
   padding:0;
}

.well{
    margin-top:15px;
}

body {
    background: url('clean_textile.png');
}